.Map > *{
    height: 100vh !important;
    width: 100% !important;
}
.Map {
    width: 100%;
}

.Map_blurred > *{
    height: 100vh !important;
    width: 100% !important;
    filter: blur(2px);
}
.map_blurred {
    width: 100%;
    filter: blur(2px);
}
