.Search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 80%;
    margin-top: 50xp;
    border-radius: 10px;
    border: solid 2px #ccc;
}

.Search input{
    text-decoration: none;
    width: 90%;
    height: 30px;
    border: 0;


}
